#page-content {
    margin-top: 50px;
}

.product-img {
  width: 200px;
  height: 200px;
  margin-top: 50px;
}

.cart-img {
  width: 150px;
  height: 150px;
}

.single-product-img {
  width: 300px;
  height: 300px;
}

#single-product {
  width: 350px;
  margin: 0 auto;
}