#page-content {
    margin-top: 75px;
}

.product-img {
  width: 200px;
  height: 200px;
  margin-top: 50px;
}

#checkout, #login {
  width: 600px;
}

.cart-img {
  width: 150px;
  height: 150px;
}

.single-product-img {
  width: 300px;
  height: 300px;
}

#single-product {
  width: 350px;
  margin: 0 auto;
}

.formEmail, .formPassword, .formName {
  width: 500px;
}

.productsTitle {
  font-family: 'Lily Script One', cursive;
  font-size: 500%;
  text-align: center;
}

.productsSub {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

.navbar {
  background-color: #95cbdb;
}

.quantity {
  padding-left: 20px;
}
